button .material-icons {
  margin-top: 7px;
}


.cardImage  {
    max-width: 200px;
    max-height: 200px;
}

.exerciseImage  {
    max-width: 200px;
    max-height: 200px;
}

.exerciseTags {
  color: blue;
}