.cardImage {
    max-width: 150px;
    max-height: 150px;
}

.setImage {
    max-width: 100px;
    max-height: 100px;
    vertical-align: text-bottom;

}

.exerciseImage {
    max-width: 200px;
    max-height: 200px;
}

.exerciseSets {
        position: relative;
    max-height: 380px;
    overflow: scroll;
}

.exerciseInfo {
    position: relative;
    max-height: 300px;
    overflow: scroll;
}

.setInfo {
    position: relative;
    margin-left: 20px;
}

.setTitle {
    margin-left: 10px;
}

.setInfo:after {
    clear: both;
    display: table;
    content: " ";
}

.exerciseTags {
    color: blue;
}

.cardContent {
    margin-top: 3em;
}

.fixed-nav {
    position: fixed;
}

/*.md-fab {
    fill: #fff;
}*/

.user-avatar {
    border-radius: 99%;
    width: 40px;
    height: 40px;
}

.cardTools {
    text-align: right;
}

.fav {
    margin-right: 5px;
    margin-bottom: 5px;
}

.card:after {
    clear: both;
    display: table;
    content: " ";
}

.card {
    position: relative;
    /*second option things*/
    max-height: 300px;
    overflow: scroll;
}




.floatedImg {
    float: left;
    display: inline-block;
    margin: 0px 10px 5px 0px;
}


/*second option class*/


/*.foo {
    width: 100%;
}*/

.cardInfo {
    position: absolute;
    width: 65%;
}

.cardInfo p {
    margin-top: 0
}

.dialog-content {
    margin: 10px;
}

.keepDialog {
    opacity: 0;
}

.selectHeader {
    /* All these selectors are only applied to children of elements with the 'selectHeader' class */
}

.selectHeader .header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
}

.selectHeader .select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
}

.selectHeader md-content._md {
    max-height: 240px;
}

.md-button.md-mini {
    font-size: 1.5em;
}

.mdi-shape-circle-plus,
.mdi-menu,
.mdi-star-outline,
.mdi-star,
.mdi-close,
.mdi-magnify,
.mdi-account-circle,
.mdi-arrow-up-bold-circle,
.mdi-arrow-down-bold-circle,
.mdi-format-clear,
.mdi-plus-circle-outline {
    font-size: 25px;
}

.dialog-content {
    max-width: 800px;
    max-height: 810px;
}

.commentText {
    margin: 0px 10px 10px 10px;
}

.exerciseSearch {
    margin-top: 20px;
    margin-right: 10px;
    color: white;
}

.exerciseInfo:after {
    clear: both;
    display: table;
    content: " ";
}
