<div layout="column" flex>
    <md-toolbar class="fixed-nav">
        <md-whiteframe class="md-whiteframe-5dp">
            <div class="md-toolbar-tools">
                <md-button ng-click='ctrl.openLeftNav()' aria-label="Settings">
                    <md-icon class="mdi mdi-menu"></md-icon>
                    <md-tooltip>Settings</md-tooltip>
                </md-button>
                <span flex></span>
                <p><strong>Appletes</strong></p><span flex></span>
                <md-button ng-click='ctrl.view.filterWorkouts = !ctrl.view.filterWorkouts' aria-label="Filter">
                    <md-icon class="mdi mdi-magnify"></md-icon>
                    <md-tooltip>Show Filter</md-tooltip>
                </md-button>
                <md-button class="md-fab md-mini md-accent" ng-click="ctrl.setWorkoutId(); ctrl.openRightNav()">
                    +
                    <md-tooltip>Add Workout</md-tooltip>
                </md-button>
            </div>
        </md-whiteframe>
    </md-toolbar>
    <!-- SIDENAV LEFT-->
    <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
        <md-toolbar class="md-theme-light" layout="row">
            <h1 class="md-toolbar-tools">Settings</h1>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.closeLeftNav()">
                <md-icon md-icon class="mdi mdi-close" aria-label="Close Nav"></md-icon>
            </md-button>
        </md-toolbar>
        <div layout="column" class="md-inline-form">
            <md-content layout-padding>
                <div>
                    <img class="user-avatar" ng-src="{{ctrl.view.photoUrl}}"> {{ctrl.view.contributor}}
                    <md-button class="md-warn" ng-click="ctrl.signOutUser();ctrl.closeLeftNav()">Log out</md-button>
                    <md-divider></md-divider>
                </div>
                <div>
                    <md-switch ng-model="ctrl.view.showComments" class="md-primary" md-no-ink aria-label="Switch Comments">
                        Show all comments: {{ ctrl.view.showComments}}
                    </md-switch>
                    <md-switch ng-model="ctrl.view.showImages" class="md-primary" md-no-ink aria-label="Switch Images">
                        Show all images: {{ ctrl.view.showImages }}
                    </md-switch>
                </div>
            </md-content>
        </div>
    </md-sidenav>
    <!-- // END LEFT SIDENAV -->
    <!-- SIDENAV RIGHT-->
    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
        <md-toolbar>
            <h1 class="md-toolbar-tools">Add Workout</h1>
        </md-toolbar>
        <div layout="column" class="md-inline-form">
            <md-content layout-padding>
                <div ng-hide="ctrl.pickExercises">
                    <form name="workoutForm">
                        <div layout="row">
                            <md-input-container>
                                <label for="title">Name your Workout</label>
                                <input ng-model="ctrl.view.workout.title" type="text" md-autofocus>
                            </md-input-container>
                            <md-input-container>
                                <label for="sets">Sets</label>
                                <md-select ng-model="ctrl.view.numbersSets">
                                    <md-option ng-repeat="setNumber in [1,2,3,4,5]" value="{{setNumber}}">
                                        {{setNumber}}
                                    </md-option>
                                    <md-tooltip>Number of Sets</md-tooltip>
                                </md-select>
                            </md-input-container>
                        </div>
                        <!-- // add exercises -->
                        <div ng-if="ctrl.view.numbersSets >= 1">
                            <md-button class="md-primary" aria-label="Add" ng-click="ctrl.pickExercises = true; ctrl.showExercises(1)">
                                <ng-md-icon icon="add">Add Exercises for Set 1</ng-md-icon>
                            </md-button>
                        </div>
                        <div ng-if="ctrl.view.numbersSets >= 2">
                            <md-button class="md-primary" aria-label="Add" ng-click="ctrl.pickExercises = true; ctrl.showExercises(2)">
                                <ng-md-icon icon="add">Add Exercises for Set 2</ng-md-icon>
                            </md-button>
                        </div>
                        <div ng-if="ctrl.view.numbersSets >= 3">
                            <md-button class="md-primary" aria-label="Add" ng-click="ctrl.pickExercises = true; ctrl.showExercises(3)">
                                <ng-md-icon icon="add">Add Exercises for Set 3</ng-md-icon>
                            </md-button>
                        </div>
                        <div ng-if="ctrl.view.numbersSets >= 4">
                            <md-button class="md-primary" aria-label="Add" ng-click="ctrl.pickExercises = true; ctrl.showExercises(4)">
                                <ng-md-icon icon="add">Add Exercises for Set 4</ng-md-icon>
                            </md-button>
                        </div>
                        <div ng-if="ctrl.view.numbersSets == 5">
                            <md-button class="md-primary" aria-label="Add" ng-click="ctrl.pickExercises = true; ctrl.showExercises(5)">
                                <ng-md-icon icon="add">Add Exercises for Set 5</ng-md-icon>
                            </md-button>
                        </div>
                        <md-input-container>
                            <label for="level">Best suited for:</label>
                            <md-select ng-model="ctrl.view.skillLevel">
                                <md-option ng-repeat="level in ctrl.view.skillLevels" value="{{level}}">
                                    {{level}}
                                </md-option>
                                <md-tooltip>Fitness level</md-tooltip>
                            </md-select>
                        </md-input-container>
                        <!-- //SELECT -->
                        <div layout="column" class="tagInput">
                            <md-content class="md-padding" layout="column">
                                <md-chips name='tags' ng-model="ctrl.view.selectedTags" md-max-chips='5' md-autocomplete-snap md-transform-chip="ctrl.view.transformChip($chip)" md-require-match="ctrl.view.autocompleteRequireMatch">
                                    <md-autocomplete md-selected-item="ctrl.view.selectedItem" md-search-text="ctrl.view.searchText" md-items="item in ctrl.view.querySearch(ctrl.view.searchText)" md-item-text="item.name" placeholder="Start typing to apply tags">
                                        <span md-highlight-text="ctrl.view.searchText">{{item.name}}</span>
                                    </md-autocomplete>
                                    <md-chip-template>
                                        <span>
                                            <strong>{{$chip.name}}</strong>
                                        </span>
                                    </md-chip-template>
                                </md-chips>
                                <div ng-messages="workoutForm.tags.$error" ng-if="workoutForm.$dirty">
                                    <div ng-message="md-max-chips md-accent">
                                        You reached the max. amount of tags</div>
                                </div>
                            </md-content>
                        </div>
                        <!-- //SELECT END -->
                        <md-input-container class="md-block">
                            <label for="instructions">Provide helpful Instructions:</label>
                            <textarea ng-model="ctrl.view.workout.instructions" md-maxlength="500" rows="5" id="instructions" md-select-on-focus></textarea>
                        </md-input-container>
                        <md-button class="md-primary" ng-click="ctrl.submitWorkout(ctrl.view.workout)">Save</md-button>
                        <md-button ng-click="ctrl.closeRightNav(); ctrl.view.workout.instructions=''" class="md-warn">Cancel</md-button>
                    </form>
                </div>



                        <!-- // pick EXERCISES 1 -->
                        <div ng-show="ctrl.pickExercises">
                            <p>
                                <md-input-container>
                                    <input ng-model="ctrl.view.filteredExercises" type="text" aria-label="Search Input" placeholder="Filter Exercises">
                                    <div>
                                    <md-button class="md-warn " ng-click="ctrl.view.filteredExercises = ''"  aria-label="Clear Filter">Clear</md-button>
                                <md-button class="md-warn " ng-click="ctrl.pickExercises = false;">Back</md-button>
                                <md-button class="md-primary " ng-click="ctrl.submitExercises() ">Submit All</md-button>
                                </div>
                                </md-input-container>
                            </p>
                            <div class="keepDialog">
                            </div>
                        <!-- </div> -->
                        <form name="exercisesForm">
                            <fieldset class="standard">
                                <legend> Pick at least one </legend>
                                <div ng-repeat="exercise in ctrl.view.exercises | filter: ctrl.view.filteredExercises">
                                    <pre>{{view.selectedExercise | json}}</pre>
                                    <pre>{{exercise | json}}</pre>
                                    <md-checkbox ng-checked=(exercise.selectedExercise) ng-click="exercise.selectedExercise = !exercise.selectedExercise; ctrl.toggleExercise(exercise)" name="exerciseId" layout="row ">
                                        <h3>{{exercise.name}}</h3></md-checkbox>
                                    <p>
                                        <img class="exerciseImage " ng-src="{{exercise.image}} " alt="Exercise Image " align="right" \> {{exercise.description}}
                                        <br>
                                        <br><strong>Tags: </strong><i><span ng-repeat="tag in exercise.tags">{{tag}}&nbsp;</span></i></p>
                                </div>
                            </fieldset>
                          
                                <span flex></span>
                          
                        </form>
                </div>
                <!-- // end pick EXERCISES 1 -->


            </md-content>
            <pre>{{view.workout | json}}</pre>
        </div>
    </md-sidenav>
    <!-- // END RIGHT SIDENAV -->
    <!-- //CARDS -->
    <md-content class="md-padding" layout="row" layout-align="space-around center" layout-wrap>
        <div flex-xs="5" flex="10" flex-gt-sm="20"></div>
        <div class="cardContent" flex-xs="90" flex="80" flex-gt-sm="60">
            <!-- // sub menu -->
            <div ng-show="ctrl.view.filterWorkouts" flex-xs="90" flex="80" flex-gt-sm="60" class="md-primary" layout-align="center center">
                <!-- <span flex></span> -->
                <div layout="row">
                    <md-input-container>
                        <label for="filter">Apply Filter</label>
                        <input ng-model="ctrl.view.filteredWorkouts" type="text" aria-label="Filter Input" md-autofocus>
                    </md-input-container>
                    <md-input-container>
                        <label>Sort:</label>
                        <md-select ng-model="ctrl.view.sortOption">
                            <md-option ng-repeat="option in ctrl.view.sortOptions" value="{{option}}">
                                {{option}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-button class="md-icon-button" ng-click="ctrl.view.filteredWorkouts = ''">
                        <md-icon class="mdi mdi-format-clear" aria-label="Clear Filter"></md-icon>
                        <md-tooltip>Clear Filter</md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="ctrl.view.filterWorkouts = false">
                        <md-icon class="mdi mdi-close" aria-label="Close Filter"></md-icon>
                        <md-tooltip>Hide Filter</md-tooltip>
                    </md-button>
                </div>
                <!-- <span flex></span> -->
                <!-- <span flex></span> -->
            </div>
            <!-- // end sub menu -->
            <md-card ng-repeat="card in ctrl.view.workouts  | filter: ctrl.view.filteredWorkouts | orderBy: ctrl.sort()">
                <md-card-header>
                    <md-card-avatar>
                        <img class="md-user-avatar" ng-src="/images/youcandoit.png">
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-subhead"> {{card.timestamp | date: 'short'}}</span>
                        <span class="md-title">By {{card.contributor}}</span>
                    </md-card-header-text>
                </md-card-header>
                <md-divider></md-divider>
                <!-- //card tools -->
                <md-toolbar class="cardTools md-accent md-padding" style="z-index: 0">
                    <div class="cardTools">
                        <md-button class="md-primary" ng-click="card.showSets = !card.showSets" ng-if="!card.showSets">Detail</md-button>
                        <md-button class="md-primary" ng-click="card.showSets = !card.showSets" ng-if="card.showSets">Less</md-button>
                        <md-button class="md-primary" ng-click="card.showAddComment = !card.showAddComment">Comment</md-button>
                        <span flex></span> {{card.votes}}
                        <md-icon ng-click="ctrl.voteUp(card)" class="mdi mdi-arrow-up-bold-circle md-primary">
                            <md-tooltip>Vote</md-tooltip>
                        </md-icon>
                        <md-icon ng-click="ctrl.voteDown(card)" class="mdi mdi-arrow-down-bold-circle  md-primary">
                        </md-icon>
                    </div>
                </md-toolbar>
                <!-- // end card tools -->
                <!-- // add comments -->
                <div ng-show="card.showAddComment" layout="column" class="tagInput">
                    <md-content class="md-padding" layout="column">
                        <md-input-container class="md-block">
                            <label for="comments">Enter your comment here:</label>
                            <textarea ng-model="card.comment" md-maxlength="250" rows="5" id="comment" md-select-on-focus></textarea>
                        </md-input-container>
                        <div>
                            <md-button class="md-primary" ng-click="ctrl.submitComment(card.comment)">Save</md-button>
                            <md-button ng-click="card.showAddComment = false; card.comment = ''" class="md-warn">Cancel</md-button>
                        </div>
                    </md-content>
                </div>
                <!-- // end add comments -->
                <!-- // CARDS -->
                <md-card-title>
                    <md-icon ng-hide="card.fav" class="mdi mdi-star-outline fav" ng-click='card.fav = !card.fav'></md-icon>
                    <md-icon ng-show="card.fav" class="mdi mdi-star md-accent fav" ng-click='card.fav = !card.fav'></md-icon>
                    <md-card-title-text>
                        <span class="md-headline">{{card.title}} - <small>{{card.skill}}</small></span>
                    </md-card-title-text>
                </md-card-title>
                <div class="tag" layout="row">
                    <span class="md-subhead">&nbsp;<strong>Tags: </strong></span>
                    <span class="md-subhead" ng-repeat="tag in card.selectedTags">&nbsp;{{tag.name}}&nbsp;</span>
                </div>
                <md-card-content>
                    <div class="card" ng-hide="card.showSets">
                        <div>
                            <p class="foo floatedImg">
                                <img ng-show="ctrl.view.showImages" class="cardImage floatedImg" ng-src="{{card.image}}" alt="Workout Image" align="right" \> {{card.instructions}}
                            </p>
                        </div>
                    </div>
                    <!-- //exercise block -->
                    <div layout="column" flex class="exerciseSets" ng-show="card.showSets">
                        <div ng-repeat="set in card.sets" class="setInfo">
                            <h3>Set {{set.number}}:</h3>
                            <div ng-repeat="exercise in set.exercises" layout="column">
                                <div class="setInfo">
                                    <p>
                                        <img class="setImage" ng-src="{{exercise.image}}" alt="Exercise image" align="left" \>
                                        <strong class="setTitle">{{exercise.title}}: {{exercise.reps}}x</strong>
                                    </p>
                                </div>
                                <md-divider></md-divider>
                            </div>
                        </div>
                    </div>
                    <!-- // end exercise block -->
                    <!-- // comment block -->
                    <div ng-show="ctrl.view.showComments">
                        <md-card ng-repeat="comment in card.comments">
                            <md-card-header>
                                <md-card-avatar>
                                    <md-icon class="mdi mdi-account-circle"></md-icon>
                                </md-card-avatar>
                                <md-card-header-text>
                                    <span class="md-subhead"> {{comment.timestamp | date: 'short'}}</span>
                                    <span class="md-title">{{comment.contributor}}: </span>
                                </md-card-header-text>
                            </md-card-header>
                            <span class="commentText">{{comment.text}}</span>
                        </md-card>
                    </div>
                </md-card-content>
            </md-card>
            <!-- // end CARDS -->
        </div>
        <!-- //end flex 50 -->
        <div flex></div>
    </md-content>
</div>
