<div layout="column" flex>
    <md-toolbar class="fixed-nav">
        <md-whiteframe class="md-whiteframe-5dp">
            <div class="md-toolbar-tools">
                <md-button ng-click='ctrl.openLeftNav()' aria-label="Settings">
                    <md-icon class="mdi mdi-menu"></md-icon>
                    <md-tooltip>Settings</md-tooltip>
                </md-button>
                <span flex></span>
                <p><strong>Appletes</strong></p><span flex></span>
                <md-button ng-click='ctrl.filterWorkouts = !ctrl.filterWorkouts' aria-label="Filter">
                    <md-icon class="mdi mdi-magnify"></md-icon>
                    <md-tooltip>Show Filter</md-tooltip>
                </md-button>
                <md-button class="md-fab md-mini md-accent" ng-click="ctrl.openRightNav()">
                    +
                    <md-tooltip ng-if="ctrl.userAuthenticated === false">Please Login</md-tooltip>
                    <md-tooltip ng-if="ctrl.userAuthenticated">Add Workout</md-tooltip>
                </md-button>
            </div>
        </md-whiteframe>
    </md-toolbar>
    <!-- SIDENAV LEFT-->
    <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
        <md-toolbar class="md-theme-light" layout="row">
            <h1 class="md-toolbar-tools">Settings</h1>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.closeLeftNav()">
                <md-icon md-icon class="mdi mdi-close" aria-label="Close Nav"></md-icon>
            </md-button>
        </md-toolbar>
        <div layout="column" class="md-inline-form">
            <md-content layout-padding>
                <div ng-show="ctrl.userAuthenticated">
                    <img class="user-avatar" ng-src="{{ctrl.photoUrl}}"> {{ctrl.contributor}}
                    <md-button class="md-warn" ng-click="ctrl.signOutUser();ctrl.closeLeftNav()">Log out</md-button>
                </div>
                <div ng-hide="ctrl.userAuthenticated">
                    <md-button class="md-warn" ng-click="ctrl.signInUser();ctrl.closeLeftNav()">Log in</md-button>
                </div>
                <div>
                    <md-divider></md-divider>
                </div>
                <div>
                    <md-switch ng-model="ctrl.showComments" class="md-primary" md-no-ink aria-label="Switch Comments">
                        Show all comments: {{ ctrl.showComments}}
                    </md-switch>
                    <md-switch ng-model="ctrl.showImages" class="md-primary" md-no-ink aria-label="Switch Images">
                        Show all images: {{ ctrl.showImages }}
                    </md-switch>
                </div>
            </md-content>
        </div>
    </md-sidenav>
    <!-- // END LEFT SIDENAV -->
    <!-- //RIGHT Sidenav -->
    <ui-view></ui-view>
    <!-- //RIGHT Sidenav end -->
    <!-- //CARDS -->
    <md-content class="md-padding " layout="row " layout-align="space-around center " layout-wrap>
        <div flex-xs="5 " flex="10 " flex-gt-sm="20 "></div>
        <div class="cardContent " flex-xs="90 " flex="80 " flex-gt-sm="60 ">
            <!-- // sub menu -->
            <div ng-show="ctrl.filterWorkouts" flex-xs="90 " flex="80 " flex-gt-sm="60 " class="md-primary " layout-align="center center ">
                <!-- <span flex></span> -->
                <div layout="row ">
                    <md-input-container>
                        <label for="filter ">Apply Filter</label>
                        <input ng-model="ctrl.filteredWorkouts" type="text " aria-label="Filter Input">
                    </md-input-container>
                    <md-input-container>
                        <label>Sort:</label>
                        <md-select ng-model="ctrl.sortOption ">
                            <md-option ng-repeat="option in ctrl.sortOptions " value="{{option}} ">
                                {{option}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <a ng-click="ctrl.filteredWorkouts='' " style="margin-top: 2em;margin-left:0.5em">CLEAR

                    </a>
                    <a ng-click="ctrl.filterWorkouts=false " style="margin-top: 2em;margin-left:0.5em">CLOSE

                    </a>
                </div>
                <!-- <span flex></span> -->
                <!-- <span flex></span> -->
            </div>
            <!-- // end sub menu -->
            <md-card ng-repeat="card in ctrl.workouts | filter: ctrl.filteredWorkouts | orderBy: ctrl.sort() ">
                <md-card-header>
                    <md-card-avatar>
                        <img class="md-user-avatar " ng-src="/images/youcandoit.png ">
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-subhead "> {{card.timestamp | date: 'short'}}</span>
                        <span class="md-title ">By {{card.contributor}}</span>
                    </md-card-header-text>
                </md-card-header>
                <md-divider></md-divider>
                <!-- //card tools -->
                <md-toolbar class="cardTools md-accent md-padding " style="z-index: 0 ">
                    <div class="cardTools ">
                        <md-button class="md-primary " ng-click="card.showSets=! card.showSets " ng-if="!card.showSets ">Detail</md-button>
                        <md-button class="md-primary " ng-click="card.showSets=! card.showSets " ng-if="card.showSets ">Less</md-button>
                        <md-button class="md-primary " ng-click="card.showAddComment=! card.showAddComment ">Comment</md-button>
                        <span flex></span> {{card.votes}}
                        <md-icon ng-click="ctrl.voteUp(card) " class="mdi mdi-arrow-up-bold-circle md-primary ">
                            <md-tooltip>Vote</md-tooltip>
                        </md-icon>
                        <md-icon ng-click="ctrl.voteDown(card) " class="mdi mdi-arrow-down-bold-circle md-primary ">
                        </md-icon>
                    </div>
                </md-toolbar>
                <!-- // end card tools -->
                <!-- // add comments -->
                <div ng-show="card.showAddComment " layout="column " class="tagInput ">
                    <md-content class="md-padding " layout="column ">
                        <md-input-container class="md-block ">
                            <label for="comments " ng-if="ctrl.userAuthenticated">Enter your comment here:</label>
                            <label for="comments " ng-if="ctrl.userAuthenticated === false">Please login to leave comments.</label>
                            <textarea ng-model="card.comment.text " md-maxlength="250 " rows="5 " id="comment " md-select-on-focus></textarea>
                        </md-input-container>
                        <div>
                            <md-button class="md-primary " ng-click="ctrl.addComment(card); card.showAddComment=false; card.comment='' ">Save</md-button>
                            <md-button ng-click="card.showAddComment=false; card.comment='' " class="md-warn ">Cancel</md-button>
                        </div>
                    </md-content>
                </div>
                <!-- // end add comments -->
                <!-- // CARDS -->
                <md-card-title>
                    <md-icon ng-hide="card.fav " class="mdi mdi-star-outline fav " ng-click='card.fav = !card.fav'></md-icon>
                    <md-icon ng-show="card.fav " class="mdi mdi-star md-accent fav " ng-click='card.fav = !card.fav'></md-icon>
                    <md-card-title-text>
                        <span class="md-headline ">{{card.name}} - <small>{{card.skillLevel}}</small></span>
                    </md-card-title-text>
                </md-card-title>
                <div class="tag " layout="row ">
                    <span class="md-subhead ">&nbsp;<strong>Tags: </strong></span>
                    <span class="md-subhead " ng-repeat="tag in card.selectedTags ">

                    &nbsp;{{tag}}&nbsp;</span>
                </div>
                <md-card-content>
                    <div class="card " ng-hide="card.showSets">
                        <div>
                            <p class="foo floatedImg ">
                                <img ng-show="ctrl.showImages " class="cardImage floatedImg " ng-src="{{card.image}} " alt="Workout Image " align="right " \> {{card.instructions}}
                            </p>
                        </div>
                    </div>
                    <!-- //exercise block -->
                    <div layout="column" flex class="exerciseSets" ng-show="card.showSets">
                        <div ng-repeat="set in card.sets " class="setInfo ">
                            <h3>Set {{set.number}}:</h3>
                            <!-- <pre>{{set | json}}</pre> -->
                            <div ng-repeat="exerciseSet in set.exercise " layout="column">
                                <div class="setInfo ">
                                    <p>
                                        <img class="setImage " ng-src="{{exerciseSet.image}} " alt="Exercise image " align="left " \>
                                        <strong class="setTitle ">{{exerciseSet.name}}: {{exerciseSet.reps}}x</strong>
                                    </p>
                                </div>
                                <md-divider></md-divider>
                            </div>
                        </div>
                    </div>
                    <!-- // end exercise block -->
                    <!-- // comment block -->
                    <div ng-show="ctrl.showComments ">
                        <md-card ng-repeat="comment in card.comments | orderBy: '-timestamp'">
                            <md-card-header>
                                <md-card-avatar>
                                    <!-- <md-icon class="mdi mdi-account-circle "></md-icon> -->
                                    <img class="user-avatar" ng-src="{{comment.profileImg}}">
                                </md-card-avatar>
                                <md-card-header-text>
                                    <span class="md-subhead "> {{comment.timestamp | date: 'short'}}</span>
                                    <span class="md-title ">{{comment.commenter}}: </span>
                                </md-card-header-text>
                            </md-card-header>
                            <span class="commentText ">{{comment.text}} </span>
                        </md-card>
                    </div>
                </md-card-content>
            </md-card>
            <!-- // end CARDS -->
        </div>
        <!-- //end flex 50 -->
        <div flex></div>
    </md-content>
</div>
